<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.dreams.basic"
    >
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />
    <application android:label="BasicDreams">
        <service
            android:name="Colors"
            android:exported="true"
            android:label="Colors">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.DREAM" />
            </intent-filter>
        </service>
    </application>
</manifest>
